* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body { 
	margin: 0;
	padding: 0;
	font-family: 'Tajawal', sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
}

a {
	color: #013950;
	text-decoration: none;
}

nav {
	background: transparent;
	overflow: hidden;
	margin:0;
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: large;
	font-weight: 100;
	letter-spacing: 2px;		
}

nav a {
	width: 100%
	display: inline-block;
	padding: 20px 5px;
	text-decoration: none;
} 

nav a:hover {
	background-color: #E88064;
}

header {
	background-image: url(https://raw.githubusercontent.com/andvinwill/andvinwill.github.io/master/redo_pre_final_project/images/Andrea_Williams_024_greenjacket.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	max-height: 60%;	
}

h1 {
	font-family: 'Yatra One', cursive; 
	text-size: 200px;
	color: #013950;
	display: block;
}

h2 {
	font-family: 'Tajawal', sans-serif;
	color: #013950;
	text-align: center;
	display: block;
}

#banner {
	color: white;
	text-align: center;
	height: 45vh;	
}

#banner h1 {
	font-size: xx-large;
	text-shadow: 0px 0px 3px;
}

#banner h2 {
	font-size: large;
	text-shadow: 0px 0px 3px;
}

#social {
	font-size: large;
}

#social a {
	padding: 3px 20px;
	color: white;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
	visibility: hidden;
}