* {
	margin: 0;
	height: 100%
}

body, html {
	height: 100%
	margin: 0;
}

h1 {
	font-family: 'Yatra One', cursive; 
	text-size: 200px;
}

body { 
	font-family: 'Tajawal', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #013950;
	line-height: 1.5;
}

a {
	color: #013950;
	text-decoration: none;
}

header {
	background-image: url(https://raw.githubusercontent.com/andvinwill/andvinwill.github.io/master/redo_pre_final_project/images/Andrea_Williams_024_greenjacket%20-%20Copy.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	max-height: 60%;	
}

nav a {
	background: transparent;
	overflow: hidden;
	margin:0;
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: large;
	font-weight: 100;
	letter-spacing: 2px;
	align-self: flex-start;	
}

nav a:hover {
	background-color: #E88064;
}

h2 {
	color: #ffffff;
	background-color: #E88064;
	height: 50px;
	width: 170px;
	text-align: center;
}

.p1 {
	color: #ffffff;
	background-color: #013950;
	height: 30px;
	width: 200px;
	text-align: center;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
	visibility: hidden;
}
