* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Ink Free;
	font-weight: bold;
	font-size: 20px;
	color: #5c90bb;
	line-height: 1.5;
	background-image: url(https://raw.githubusercontent.com/andvinwill/andvinwill.github.io/master/unit_3/images/andrew-stutesman-643239-unsplash.jpg);
}
header {
	padding: 20px;
}
img {
	float: right; width: 30%;
}